Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteEngine On
#RewriteBase /
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?vebcv\.com
RewriteRule ^(.*)$ https://www.vebcv.com/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

RewriteCond %{HTTP_HOST} !^(www|webmail|ftp)\.vebcv\.com [NC]
RewriteCond %{HTTP_HOST} ^(.*?)\.vebcv\.com [NC]
RewriteRule ^$ https://vebcv.com/portfolio/%1 [L]









